@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: rgba(40, 32, 58, 0.8);
  margin-top: 70px;
}